---
import Layout from '../layouts/Layout.astro';
import TableOfContents from '../components/TableOfContents.astro';
import PostNavigation from '../components/PostNavigation.astro';

const { title, pubDate, author, description, headings, nextPost, prevPost } = Astro.props;

---

<Layout title={title} description={description}>
  <section>

    <aside>
      <TableOfContents title="Table of Contents" headings={headings} />
    </aside>

    <article>
      <h1>{title}</h1>
      <div class="blog-post-details">
        <p>
          <span class="author">Written by: {author}</span>
          <span class="pub-date">Published on {pubDate}</span>
        </p>
      </div>

      <div class="blog-post">
        <slot />
      </div>

      <PostNavigation
        prevPost={prevPost}
        nextPost={nextPost}
      />

    </article>

  </section>
</Layout>

<style>
  section {
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3.5rem 1rem 6.5rem;
  }

  aside {
    display: none;
  }

  @media (min-width: 768px) {
    section {
      grid-template-columns: minmax(0, 15rem) 1fr;
      gap: 6rem;
    }

    aside {
      display: block;
    }
  }
</style>
