---
import Layout from '../layouts/Layout.astro';
import TableOfContents from '../components/TableOfContents.astro';
import DocumentList from '../components/DocumentList.astro';
import PostNavigation from '../components/PostNavigation.astro';

const { title, description, headings, nextDoc, prevDoc } = Astro.props;

---

<Layout title={title} description={description}>
  <section>

    <aside>
      <DocumentList title="Documentation" />
    </aside>

    <article>
      <h1>{title}</h1>

      <div class="blog-post">
        <slot />
      </div>

      <PostNavigation
        prevPost={prevDoc}
        nextPost={nextDoc}
      />

    </article>

    <aside>
      <TableOfContents title="On this page" headings={headings} />
    </aside>

  </section>
</Layout>

<style>
  section {
    max-width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3.5rem 1rem 6.5rem;
    @media (max-width: 767px) {
      display: block;
    }
  }

  aside {
    display: none;
  }

  @media (min-width: 768px) {
    section {
      grid-template-columns: 12rem 1fr 12rem;
      gap: 3rem;
    }

    aside {
      display: block;
    }
  }
</style>
